.BuyGMXGLP {
  background-image: url("../../img/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.BuyGMXGLP-container {
  padding: 0 0 3.1rem 0;
  width: 100%;
}


.BuyGMXGLP-container .section-title-content {
  justify-content: flex-start;
}
